/* CSS FOR HVER SIDE */
body {
  margin: 0;
  padding: 0;
}
.index {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/baggrund_forside.png);
  h1 {
    color: #fef9ee;
  }
  .underoverskrift {
    color: #fef9ee;
  }
}
.tilbud {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/baggrund_tilbud.png);
  h1 {
    color: #fef9ee;
  }
  h2 {
    color: #e5946f;
  }
  .grid_1-4-1 {
    margin-top: 60em;
  }
  .underoverskrift {
    color: #fef9ee;
  }
}
.miljo {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/baggrund_miljo.png);
  h1 {
    color: #fef9ee;
  }
  .grid_2-1-3 {
    h1 {
      color: #5856a0;
    }
  }
  .underoverskrift {
    color: #fef9ee;
  }
}
.kort {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/baggrund_kort.png);
}
/* FONTE */
h1,
h2 {
  font-family: "caprasimo";
}
h1 {
  font-size: 90px;
}
h2 {
  font-size: 50px;
}
p {
  font-family: "coming_soon";
  font-size: 25px;
}
.underoverskrift {
  font-family: "coming_soon";
  font-size: 35px;
}
/* FARVER */
.lilla {
  color: #5856a0;
  .knap {
    color: #5856a0;
  }
}
.orange {
  color: #e5946f;
  .knap {
    color: #e5946f;
  }
}
.pink {
  color: #e4a0b6;
  .knap {
    color: #e4a0b6;
  }
}
.green {
  color: #7cb3a5;
}
.grid_1-1 {
  background-color: #fef9ee;
}
.miljo_tekst {
  background-color: #fef9ee;
}
.grid_1 {
  color: #e4a0b6;
  .pink_baggrund {
    background-color: #e4a0b6;
    color: #fef9ee;
  }
}
header {
  background-color: #fef9ee;
}
/* GRAFIK */
.grid_1-4-1 {
  #box01 {
    border-style: solid;
    border-width: 10px;
  }
}
img {
  max-width: 100%;
}
.grid_1-1-1-1 img {
  border-style: solid;
  border-width: 7px;
}
.grid_1-2 img {
  border-style: solid;
  border-width: 7px;
}
/* MARGIN OG PADDING */
.grid_1-1 {
  row-gap: 10em;
  margin: 10em;
  margin-top: 60em;
  padding: 5em;
}
.grid_1-4-1 {
  row-gap: 5em;
  column-gap: 5em;
  margin: 15.5em;
  margin-top: 10em;
  padding: 5em;
}
.grid_1-1-1-1 {
  row-gap: 2em;
  column-gap: 2em;
  margin-right: 15.5em;
  margin-left: 15.5em;
}
.grid_2-3-2 {
  margin-right: 15.5em;
  margin-left: 15.5em;
}
.miljo_tekst {
  margin-top: 60em;
  margin-right: 20em;
  margin-left: 20em;
  padding: 7em;
}
.labels {
  margin-right: 10em;
  margin-left: 10em;
  padding-top: 15em;
}
.grid_1-2 {
  margin-right: 10em;
  margin-left: 10em;
  padding-top: 5em;
}
.grid_1 {
  margin-right: 20em;
  margin-left: 20em;
  .pink_baggrund,
  .hvid_baggrund {
    padding: 1em;
  }
}
.hvid_baggrund {
  border-style: solid;
}
/* KNAP */
.knap {
  text-decoration: none;
  box-shadow: 4px 4px;
  border-radius: 45px;
  font-family: "coming_soon";
  font-size: 20px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 2em;
  padding-left: 2em;
  background-color: #fef9ee;
}
/* HEADER */
.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  text-decoration: none;
  flex-direction: row;
  margin-top: auto;
  padding: 1em;
  font-family: "caprasimo";
  font-size: 30px;
  a {
    text-decoration: none;
  }
  .forside_link {
    color: #7cb3a5;
  }
  .tilbud_link {
    color: #e5946f;
  }
  .miljo_link {
    color: #5856a0;
  }
  .kort_link {
    color: #e4a0b6;
  }
}
/* HOVER EFFECTS */
.knap.lilla:hover {
  background-color: #5856a0;
  color: #fef9ee;
  box-shadow: none;
}
.knap.orange:hover {
  background-color: #e5946f;
  color: #fef9ee;
  box-shadow: none;
}
.knap.pink:hover {
  background-color: #e4a0b6;
  color: #fef9ee;
  box-shadow: none;
}
/* FONT FACE */
@font-face {
  font-family: "caprasimo";
  src: url(../fonte/Caprasimo-Regular.ttf);
}
@font-face {
  font-family: "coming_soon";
  src: url(../fonte/ComingSoon-Regular.ttf);
}
