.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  #box01 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #box02 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
img {
  max-width: 100%;
}
